table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;

  button {
    width: 100%;
    display: table;
  }
}

.edit {
  --background: #174D9C;
}

.delete {
  // --background-color: #FDB500;
  --background: #CC0000;
  --background-activated: rgba(121, 6, 6, 0.588);
}


.status {
  --background: rgb(240, 207, 16);
  background: rgb(240, 207, 16);
  --background-activated: rgb(182, 158, 23);
  color: black;
}

.container-top {
  display: flex;
  padding: 0 10px 0 10px;
}

.mobile-buttons {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
}

@media (min-width: 0) and (max-width: 400px) {

  .mobile-id {
    overflow-wrap: break-word;
    max-width: 83px;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .mobile-id {
    max-width: 90px;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .mobile-id {
    max-width: 95px;
  }

  .mobile-name {
    max-width: 175px;
  }

  .mobile-age {
    max-width: 170px;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .mobile-id {
    max-width: 178px;
  }
}
